<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wz.mapper.BorrowMapper">
  <resultMap id="BaseResultMap" type="com.wz.domain.Borrow">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="ISBN" jdbcType="VARCHAR" property="isbn" />
    <result column="s_id" jdbcType="VARCHAR" property="sId" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="book_name" jdbcType="VARCHAR" property="bookName" />
    <result column="borrow_date" jdbcType="TIMESTAMP" property="borrowDate" />
    <result column="expect_return_date" jdbcType="TIMESTAMP" property="expectReturnDate" />
    <result column="return_date" jdbcType="TIMESTAMP" property="returnDate" />
    <result column="book_borrow" jdbcType="INTEGER" property="bookBorrow" />
  </resultMap>
</mapper>